header{
    width:100%;
    padding: 28px 8%;
}
#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav_logo{
    font-size: 24px;
    color:chocolate;
padding-right: 40px;
}
#nav_list{
    display: flex;
    list-style: none;   
    gap: 48px;
}
.nav-item a{
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}
.nav-item.active a {
    color:#1d1d1d;
    border-bottom: 3px solid #29b57a;
}
#mobile_btn{
    display: none;
}
#mobile_menu{
    display: none;
}