:root {
  --red:#DA2535; 
  --gray:#616161;
  --black:#292929;
  --white: #FBFBFB;
  --white-200:#F3F3F3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.s-header {
  padding: 40px 0;
}
.s-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 0 1.5px;
  margin: 0 auto;
}

.image {
  width: 100px;
}

.image img {
  width: 100%;
  height: 100%;
}

nav ul {
  display: flex;
  gap: 91px;
}

.btn-transparent {
  border: 2px solid black;
    padding: 10px 60px;
    border-radius: 10px;
    background: transparent;
}

.s-hero {
  padding-top: 60px;
}

.s-hero .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-hero .area-image {
  width: 300px;
  height: 534px;
}

.s-hero .area-text {
  width: 100%;
  max-width: 520px;
  height: 300px;
}

.area-text .title {
  font-size: 32px;
  font-weight: 600;
  color: var(--black);
}
.s-hero .area-text .description {
  padding: 24px 0 48px;
}
.area-text .description {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  max-width: 400px;
  color: var(--black);
}

.btn-red {
  color: var(--white);
    background: var(--red);
    padding: 10px 40px;
    border-radius: 10px;
}

.s-tradicional .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 124px;
}

.s-tradicional .area-image {
  width: 500px;
  height: 500px;
}

.s-tradicional .area-image img {
  border-radius: 16px;
}

.s-tradicional .area-text .description {
  padding: 24px 0 40px;
}

.s-tradicional .area-text {
  width: 500px;
  height: 365px;
}

.link {
  text-decoration: underline;
  color: var(--red);
}