

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-size: 62.5%;
    --nav-bg-color: #121212;
    --nav-text-color: white;
    --button-bg-color: #0052CE;
    --button-text-color: white;
  }
  
  body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  

nav {
    display: flex;
    text-decoration: none;

    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 170, 187);
    color:var(--button-text-color);
    height: 6rem;
    padding: 0 2.4rem;

    list-style: none;
  
    color: #81c4e5;

}
span img{
    height: 4rem;
    padding: 0 2.4rem;

}
ul{
    display: flex;
    list-style: none;
    gap: 3rem;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;

}
