.azul {
    color: rgb(55, 0, 252);
  }
  
  .verde-bg {
    background: rgb(43, 235, 4);
  }
  
  .elegante {
    font-weight: bold;
    text-shadow: 4px 4px 3px #77f;
  }
  
  	
span#exemploId {
  background-color: red;
}

/****Como usar a seleção por atributo*/

a {
  color: blue;
}
/* Links internos, começando com "#" */
a[href^="#"] {
  background-color: gold;
}
/* Links com "example" em qualquer lugar da URL */
a[href*="example"] {
  background-color: silver;
}
/* Links com "insensitive" em qualquer lugar da URL,
   independentemente da capitalização */
a[href*="insensitive" i] {
  color: cyan;
}
/* Links com final ".org" */
a[href$=".org"] {
  color: red;
}
