body * {
  border: 1px solid red;
}

h3 {
  border: none;
}

div{
  display:flex;
}

.displayFlex {
  display: flex;
  justify-content: center;
}

.displayFlex2 {
  display: flex;
  justify-content: space-between;
}
.displayFlex3 {
  display: flex;
  justify-content: space-around;
}