/* Não mexa nessas linhas abaixo */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --nav-bg-color: #121212;
  --nav-text-color: white;
  --button-bg-color: #0052CE;
  --button-text-color: white;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: var(--button-text-color);
  text-align: center;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 1rem 1.6rem;

  background: var(--button-bg-color);
  border-radius: .8rem;

  color: var(--button-text-color);
}

/* Inicie seu CSS desta linha para baixo */

/*Navbar*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
  height: 6rem;

  padding: 0 2.4rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  color: var(--button-text-color);
  align-items: center;

}

/*Nav0*/

.nav0 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
  height: 6rem;

  padding: 0 2.4rem;
}

 ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  color: var(--button-text-color);
  padding: 0 2.4rem;
}

.espaco{
  height: 50px;
}


/*Nav1*/

.nav1 {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
  height: 6rem;

  padding: 0 2.4rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  color: var(--button-text-color);
}



.nav3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    height: 6rem;
  
    padding: 0 2.4rem;
}
.span3{
  text-align: right;
  align-items: center;

}